@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

.App {
  text-align: center;
  /* background: linear-gradient(); */
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  /* size: 16px; */
  font-size: 1.8vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
/* The font-size is altered to make it responsive. */

h1 {
  /* originally 30px; bold */
  font-size: 8.5vw;
  font-weight: 800;
  background: -webkit-linear-gradient(180deg, #FF7A97, #FF8948);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: .5rem 0rem;
}

h2 {
  /* originally 22px bold */
  font-size: 7.5vw; 
  font-weight: bold;
  margin: .5rem 0rem;
}

h3 {
  /* originally 16px bold */
  font-size: 5.5vw;
  font-weight: bold;
}

h4 {
  font-size: 5vw;
  font-weight: 700;
}

p {
  font-size: 4.5vw;
  /* font-size: 3.7vw; */
}

button {
  width: 100%;
  height: 100%;
}

.btn-container.gradient {
  background: linear-gradient(90deg, #FF884A, #FF7F98);
  border-radius: 2rem;
}

.duo-btn { 
  font-style: normal;
  font-weight: 600;
  list-style: normal;
  padding: 0.5rem 1rem;
  position: relative;
  background-color: white;
  background-clip: padding-box;
  border: 2px solid transparent;

  border-radius: 1.75rem;
  background-image: linear-gradient(
    90deg,
     /* #FF8947,
    #FF6B8F */
    #FF884A,
    #FF7F98
  );
  display: flex;
  justify-content: center;
  align-items: center;
} 

#gradient-btn {
  font-size: 3.7vw;
  /* font-weight: bold; */
  text-transform: capitalize;
  color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.10);
  /* border: 2px solid transparent; */

}

#border-btn {
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  /* color: transparent; */
  /* font-weight: 600; */
  font-size: 3.2vw;
  /* line-height: 1.5rem; */
  text-wrap: nowrap;
}

/* #gradient-btn:before, */
#border-btn:before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  inset: 0;
  padding: 2px;
  background-image: linear-gradient(
    90deg,
    /* #FF8947,
    #FF6B8F */
    #FF884A,
    #FF7F98
  );
  border-radius: 1.75rem;

  -webkit-mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
       mask: 
  linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

}

a {
  font-size: larger;
  font-weight: bold;
  background: linear-gradient(45deg, #FF884A, #FF7F98);
  /* background-repeat: no-repeat; */
  /* background-size: 4px 4px; */
  /* background-position: 0 22px; */
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  size: 16px;
  font-weight: bold;
}

#pinkHeader-container {
  flex: 0 1 auto;
  max-width: -webkit-fill-available;
  width: 100%;
  padding: 1rem 8vw;
  background: linear-gradient(180deg, #FFC9C2, #FFE5DE);
  border-radius: 0rem 0rem 2rem 2rem;
  /* position: absolute; */
  z-index: 0;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } 
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
