/* container for link in 'available.js*/
#createInvite-container {
  background-image: url('../../images/plus-cross.png');
  background-repeat: no-repeat;
  background-size: .9rem;
  background-position-x: left;
  background-position-y: center;
  padding-left: 1.2rem;
}

h3.invite {
  font-weight: bold;
  margin: .5rem 0rem;
}

.icon-container {
  width: 23%;
  margin: 0rem .5rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container.right.hidden,
.button-flex.right.hidden {
  display: none;
}

.icon-container.left.hidden {
  display: none;
}



.profileIcon {
  /* background-size: 4rem 4rem; */
  width: 90%;
  /* height: 50%; */
  border-radius: 2rem;
}

.time {
  text-align-last: left;
  margin: .5rem 0rem 1rem 0rem;
  font-weight: 600;
}

.availableNow-container {
  width: -webkit-fill-available;
  padding: 0rem 1rem;
  overflow: scroll;
  
}

.availability-container {
  margin: 0rem;
  width: 77%;
}

/* p.date {
  font-weight: bolder;
  font-size: 4.28vw;
  margin: 0rem;
} */

/* p.fullName */
.availability-container {
  font-size: 4vw;
}

p.fullName {
  font-size: 3.7vw;
  text-transform: capitalize;
  color: #FF884A;
  font-weight: bold;
  margin: 0rem;
}

ul#trait {
  padding-left: 0;
  padding-bottom: 0;

}

li.trait {
  display: flex;
  margin-left: .5rem;
}



/* for resturant page */

.invite-container {
  background: white;
  width: 100%;
  /* height: auto; */
  overflow: scroll;
  /* height: 50vh; */
  flex: 1 1 auto;
}

/* .invite-flex {
  z-index: 3;
  width: inherit;
  height: inherit;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
} */

.inviteLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  padding: .5rem 2rem;
  /* margin: .5rem 0rem;  */
  background: white;
}

.availableNow-container .openInvite-container {
  height: -moz-fit-content;
  height: fit-content;
  /* width: 83%; */
  /* width: 80vw; */
  filter: drop-shadow(3px 4px 3px darkgrey);
  padding: 5%;
  /* background-color: #FFF1F1; */
  margin: 1rem 1rem 2rem 1rem;
  border-radius: 1rem;
}