.notes-container {
  overflow: auto;
  background: white;
  width: 100%;
  height: -moz-fit-content;
  /* height: fit-content; */
  /* max-height: 50%; */
  /* border-radius: 2rem 2rem 0rem 0rem; */
  flex: 1 1 auto;
}

.notes-flex {
  text-align-last: left;
  padding-bottom: 2rem;
  padding-left: 20px;
  line-height: 2rem;
  margin: 0rem 1.5rem 1rem 1.5rem;
}

ul.list-container{
  list-style-type: none;
  text-align-last: left;
  /* padding-bottom: 2rem; */
  padding-left: 2rem;
  /* line-height: 3rem; */
  margin: 1px 0px;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  /* margin-top: 1.2rem; */
  /* display: inline-flex; */

}

ul li::before {
  content: "\2022";
  color: #FF8A76;
  display: inline-block;
  width: 1.5rem;
  font-size: 3rem;
  /* margin-left: -1em; */
}

/* monthly notes */
li.agenda {
  font-weight: 500;
  margin: .5rem 0rem;
  /* font-weight: 500; */
  /* margin: 1rem 0rem; */
  width: 100%;
  /* display: flex; */
  display: inline-flex;
}



b.date {
  font-weight: 600;
  margin-right: .8rem;
}
