#padding {
  /* width: 87vw; */
  width: 100%;
  margin: 0rem 2rem;
}

/* #padding > .searchBar-container {
  margin: 0rem 2rem 0rem 0rem;
} */

.openInvite-container {
  height: -moz-fit-content;
  height: fit-content;
  width: 83%;
  /* width: 80vw; */
  filter: drop-shadow(3px 4px 3px darkgrey);
  padding: 5%;
  /* background-color: #FFF1F1; */
  margin: 1rem 2rem 2rem 0rem;
  
}

.openInvite-container .icon-container {
  width: 23%;
  margin: 0rem 1rem 0rem 0rem;
}

.openInvite-container p.fullName {
  font-size: 3.2vw;
  margin: .5rem 0rem;
}

.openInvite-container .profileIcon {
  /* width: 80%; */
  width: 14vw;
  height: 14vw;
  border-radius: 3rem;
}

.openInvite-container > .OIprofile-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: -webkit-fill-available;
}

.info-container > p.date,
.info-container > p.restName-container {
  font-size: 3.8vw;
  font-weight: bold;
  margin: 0rem 0rem .5rem 0rem
}

.info-container > p.time {
  font-weight: 400;
  font-size: 3.5vw;
  margin: .5rem 0rem
}

p.restName-container {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}


ul {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

/* ul li::before {
  width: .8rem;
} */

.button-flex {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  justify-content: space-between;
  height: fit-content;
  /* padding: .5rem 0rem; */
}

.btn-container {
  /* margin: 0rem 1rem; */
  width: 47%;
  height: 5vh;
  /* height: 75%; */
}
