h4#chats {
  margin: 1rem;
}

.chatRoom-flex {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#chatIndex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  background-color: white;
}

#chatHeader-flex {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

#chatHeader-flex > .btn-container {
  width: fit-content;
}

#pink-container {
  flex: 0 1 auto;
  max-width: -webkit-fill-available;
  width: 100%;
  padding: 1rem 8vw;
  background: linear-gradient(180deg, #FFC9C2, #FFE5DE);
  border-radius: 0rem 0rem 2rem 2rem;
}

.userIcon-container {
  display: inline-block;
  position: relative;
}

img#userIcon {
  /* height: 5rem; */
  /* border-radius: 3rem; */
  display: block;
  width: 5rem; /*Set your desired width*/
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* To make the image circular */

  /* Add a blurred border */
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5); Adjust the blur and color as needed */
}

#userIcon::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust to fit your desired border width */
  left: -10px; /* Adjust to fit your desired border width */
  right: -10px; /* Adjust to fit your desired border width */
  bottom: -10px; /* Adjust to fit your desired border width */
  z-index: -1;
  border-radius: 50%; /* To match the image border-radius */
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); /* Adjust the gradient colors and positions */
  filter: blur(10px); /* Adjust the blur radius */
}

button#backBtn,
button#expandBtn,
button#phoneBtn {
  width: 37px;
  height: 37px;
  border: none;
  /* background-size: 2rem; */
  background: transparent;
}

button#backBtn {
  background-repeat: no-repeat;
  background-image: url('../../images/back-btn.png');
}

button#expandBtn {
  font-weight: bolder;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAaCAYAAABByvnlAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJQSURBVHgB5ZqNTcMwEIUfLEBHuA3oBngDGCEjdAO6QbtB2YARUiYoTOBs0DJByVFHClF/crafBeWTHgLk9p57Z6e+BLiMa/Xcqm7lW+2DtuF/i1ZTlMWFuJvgo/Pkg6dZK0E5JsHT6ogn/fu1VZXqyeEwuf1I1eE1TCr8LIpL0g9IwEWLdcv0pNleGAIMtQjvkROBrTiGekZ+BIfqj/GjCZyxg/S1Qb7KFNhWxbnKzIVu0ZZVEVUoWtU5ktFPSupKEeRJRs6kCPIk42JSUrapU1ogjZwF0mnUVnECQd4C6eSGgRwhyMlgI6lIfrS6BXGsSJ48BrtJTQq0D+8dgyd6WsKOEP2o5l2gKTmQysFGRfajq8R6fVuSPXkNchsmz8bBxiO4aDKeYIPtSVpNNSH34PMAGw58LN0FTaCAj9OElGh7iGHsBPkPlsewFGKp1pBoQkpMXgxjS/hRxDC2lKe7W/xfdoaxpRLyfVFvwMcyecvYFCxxGpThs1RC3g1jdyiTlA/DWIv/FBpNyBv4WCavrMHHWiQN+Kz1hwP3wKOyfkupCniyXhfmZD++H6wmBqphRz+snB3VoVawMyH6UVX9YI4YyCGOGdGTIA5W+8SXChbTxOtTEzzNEY+uEk/w9HQq2LXfoEotECXX3cJRBSK43lu4L8hHrqTMxwTTqk7Zvpb4fQ85pNwlPOfJR/oZ/ZBDH4e//xiQemI3BitkfDTpBpeZhqD34feu+psgPViuUeYw1+FwuBAe86QHPj2IvqBcywPBT+dJjnh6C57OdiG+APQI4POERDlQAAAAAElFTkSuQmCC);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/expand-btn.png')
}

button#phoneBtn {
  background-image: url('../../images/phone.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.chatList-container {
  width: 100%;
  height: initial;
  padding: 1rem 0rem;
}

/* .chatList-flex {

} */

/* individual chat div */

/* .chatList-container {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
} */

/* .chatHistory-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  border-bottom: darkgray .1rem solid;
  justify-content: space-around;
  max-width: -webkit-fill-available;
  margin: 0vh 8vw;
} */

/* .chatHistory-flex img.profileIcon {
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
} */

/* .preview-container {
  height: 100%;
  width: 80%;
  padding: .5rem 0rem;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .horizontal-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
} */

/* .horizontal-flex p.fullName {
  font-size: 4.3vw;
  font-weight: bolder;
} */

/* p.lastSent {
  font-size: 3.3vw;
  font-weight: bold;
} */

/* .preview-container p {
  margin: .2rem;
} */

/* p.previewMsg {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: 400;
  font-size: 4.2vw;
} */

#message-container {
  /* border: 1px dashed red; */
  flex: 1 1 auto;
  padding: 1rem 8vw;
  max-width: -webkit-fill-available;
}

.response-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
  align-items: flex-start;
}

.response-container .chatBubble-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.response-container .chatBubble {
  background: #F0F0F0;
  border-radius: 0rem 2rem 2rem 2rem;
}

.sender-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.sender-container .chatBubble-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sender-container .chatBubble {
  background: linear-gradient(90deg, #FFC4A5, #FFBDCB);
  border-radius: 2rem 2rem 0rem 2rem;
}

.response-container .icon-container {
  width: 10%;
  border-radius: 5rem;
}

.chatBubble {
  margin-bottom: 1rem;
  max-width: 65%;
  padding: 1rem 1.5rem;
  text-align: left;
  font-size: 4vw;
}

/* keyboard textbox */

#textbox-container {
  /* border: 3px solid blue; */
  flex: 0 1;
  padding: 1rem 8vw;
}

.textbox-flex {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: -webkit-fill-available;
  background: #F0F0F0;
  border: #F0F0F0 solid 10px;
  border-radius: 4rem;
}

textarea.textbox {
  width: -webkit-fill-available;
  background: transparent;
  border: none;
  font-size: 4vw;
  padding: .5rem;
  font-family: 'Raleway', sans-serif;
  overflow: auto;
  min-height: 4vw; /* Minimum height (1 line at '4vw' font size) */
  margin: 1rem 0rem 1rem 1rem;
}

textarea.textbox:focus {
  outline: none;
  box-shadow: none;
}

.textbox-btn {
  width: 10%;
}

button#camera-btn {
  background-image: url('../../images/camera-btn.png');
}

button#mic-btn {
  background-image: url('../../images/mic-btn.png');
}

button.textbox-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 7vw;
  margin: .25rem .5rem;
}