h4#chats {
  margin: 1rem 1rem .5rem 1rem;
}

.chatRoom-flex {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.chatRoom-container {
  background-color: white;
}

#chatIndex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  background-color: white;
}

#chatHeader-flex {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

#chatHeader-flex > .btn-container {
  width: fit-content;
}

.userIcon-container {
  display: inline-block;
  position: relative;
  /* background-image: url('../../images/tempPP.png');
  background-size: 5rem;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: blur(1rem); */
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);  */
  /* z-index: -1; */
  margin: .5rem;
}

img#userIcon {
  display: block;
  width: 4rem; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* To make the image circular */
  position: relative;
  box-shadow: 0 0 .2rem .2rem rgba(255, 137, 72, .5)
}

/* button#backBtn, */
button#expandBtn,
button#phoneBtn {
  width: 37px;
  height: 37px;
  border: none;
  /* background-size: 2rem; */
  background: transparent;
  margin: 0rem;
}

button#backBtn {
  background-repeat: no-repeat;
  background-image: url('../../images/back-btn.png');
  /* background-size: 25px; */
  /* background-repeat: no-repeat; */
  background-position: center;
  width: 22px;
  height: 37px;
  background-color: transparent;
  border: none;
}

button#expandBtn {
  font-weight: bolder;
  background-image: url('../../images/expand-btn.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/expand-btn.png')
}

button#phoneBtn {
  background-image: url('../../images/phone.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.chatList-container {
  width: 100%;
  height: initial;
  padding: 1rem 0rem;
}

/* .chatList-flex {

} */

/* individual chat div */

/* .chatList-container {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
} */

/* .chatHistory-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  border-bottom: darkgray .1rem solid;
  justify-content: space-around;
  max-width: -webkit-fill-available;
  margin: 0vh 8vw;
} */

/* .chatHistory-flex img.profileIcon {
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
} */

/* .preview-container {
  height: 100%;
  width: 80%;
  padding: .5rem 0rem;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* .horizontal-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
} */

/* .horizontal-flex p.fullName {
  font-size: 4.3vw;
  font-weight: bolder;
} */

/* p.lastSent {
  font-size: 3.3vw;
  font-weight: bold;
} */

/* .preview-container p {
  margin: .2rem;
} */

/* p.previewMsg {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: 400;
  font-size: 4.2vw;
} */

#message-container {
  /* border: 1px dashed red; */
  flex: 1 1 auto;
  padding: 1rem 8vw;
  max-width: -webkit-fill-available;
  overflow: scroll;
}

.response-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
  align-items: flex-start;
}

.response-container .chatBubble-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.response-container .chatBubble {
  background: #F0F0F0;
  border-radius: 0rem 2rem 2rem 2rem;
}

.sender-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

/* .sender-container */
.chatBubble-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 85%;

}

.sender-container .chatBubble {
  background: linear-gradient(90deg, #FFC4A5, #FFBDCB);
  border-radius: 2rem 2rem 0rem 2rem;
}

.response-container .icon-container {
  width: 10%;
  border-radius: 5rem;
}

.chatBubble {
  /* margin-bottom: 1rem; */
  /* max-width: 85%; */
  padding: 1rem 1.5rem;
  text-align: left;
  font-size: 4vw;
}

/* keyboard textbox */

#textbox-container {
  /* border: 3px solid blue; */
  flex: 0 1;
  padding: 1rem 8vw;
}

.textbox-flex {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: -webkit-fill-available;
  background: #F0F0F0;
  border: #F0F0F0 solid 10px;
  border-radius: 4rem;
}

textarea.textbox {
  width: -webkit-fill-available;
  background: transparent;
  border: none;
  font-size: 4vw;
  /* padding: .5rem; */
  /* padding: .75rem 0rem .75rem 2rem; */
  font-family: 'Raleway', sans-serif;
  overflow: auto;
  min-height: 4vw; /* Minimum height (1 line at '4vw' font size) */
  margin: .75rem 0rem .75rem 1.5rem;
}

textarea.textbox:focus {
  outline: none;
  box-shadow: none;
}

.textbox-btn {
  width: 10%;
}

.date-container {
  margin: 1rem;
}

button#camera-btn {
  background-image: url('../../images/camera-btn.png');
}

button#mic-btn {
  background-image: url('../../images/mic-btn.png');
}

button.textbox-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 7vw;
  margin: .25rem .5rem;
}