#homePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  background-color: #FFE0DD;
}

#homePage-flex {
  padding: 2rem 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

#greeting-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-content: center; */
  width: 100%;
}

#smallLogo {
  width: 9vw;
}

#upperNavi-container {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

div#upperNaviBtn-container {
  width: 23vw;
  display: inline-flex;
  justify-content: space-between;
}

#white-container {
  padding: 0rem 2rem .5rem;
  max-width: -webkit-fill-available;
  background: white;
  /* border-bottom-left-radius: 2rem; */
  /* border-bottom-right-radius: 2rem; */
  /* filter: drop-shadow(6px 6px 2px lightgrey); */
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;

  /* replacement shadow */
  /* border-bottom: grey 2px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-style: solid; */
}

#white-container #upcoming-container {
  overflow: scroll;
  /* min-height: -webkit-fill-available; */
  /* max-height: 39vh; */
  margin-bottom: 1rem;
  height: 100%;
}

a#calLink {
  font-size: 4vw;
  display: inline-flex;
}

.miscLinks {
  padding: 1rem 2rem;
  max-width: -webkit-fill-available;
  background: white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  filter: drop-shadow(6px 6px 2px lightgrey);
  /* flex: 1 1 auto; */
  width: 100%;
  /* overflow: hidden; */
}

button.upperNavi-btn {
  height: 7vw;
  width: 7vw;
  background-color: transparent;
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
  border: none;
  margin: 1vw;
}

h1.firstName {
  text-transform: capitalize;
}

img#smallCalIcon {
  height: 5vw;
  padding-right: 1vw;
}

/* button#notification-btn {
  background-image: url(../../images/notificationOnIcon.png);
}

button#chat-btn {
  background-image: url(../../images/chatOnIcon.png)
} */


/* Upcoming Event */

img.littleIcon {
  padding-right: .8rem;
}

img.miniProfileIcon {
  /* background-size: 4rem 4rem; */
  width: 40%;
  /* height: 50%; */
  border-radius: 5rem;
  box-shadow: 1px 4px 6px 3px rgba(3, 0, 0, 0.10);
}

/* .miniProfile-container {
  height: -moz-fit-content;
  height: fit-content;
  filter: drop-shadow(3px 4px 3px lightgrey);
  padding: 5%;
  background-color: #FFFAFA;
  margin: 1rem 0rem 2rem 0rem;
} */

/* .miniProfile-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: inherit;
} */

button#pending {
  margin-left: 1rem;
  color: #4D4D4D;
}

button#upcoming {
  margin-right: 1rem;
}

#homePage-container #eventBtn-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* margin: 1rem 0rem; */
  background: white;
  width: -webkit-fill-available;
  padding: 0rem 2rem;
}

button.eventBtn {
  /* width: -moz-fit-content; */
  /* width: fit-content; */
  text-wrap: nowrap;
  border: none;
  border-bottom: .2rem solid transparent;
  background: transparent;
  border-image-slice: 1;
  /* border-width: 5px; */
  /* border-bottom: solid .2rem; */
  border-image-source: none
}

/* button.eventBtn:hover { */
  /* border: 10px solid; */
  /* border-image-slice: 1; */
  /* border-width: 5px; */
  /* border-bottom: solid .2rem;
  border-image-source: linear-gradient(
    90deg,
    #FF884A,
    #FF7F98
  ) ; */
/* } */

h4.eventBtnName {
  margin: 1rem 0rem;
}

.profilePic {
    /* background-size: 4rem 4rem; */
    width: 75%;
    /* height: 50%; */
    border-radius: 2rem;
}

.infoText {
  text-align: left;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
  margin: .8rem 0rem;
}

#meetUpSpot,
#schduledTime {
  padding-left: 1rem;
  font-size: 3.5vw;
}

#meetUpSpot {
  font-weight: 700;
}

p#fullName {
  font-size: 3.7vw;
  text-transform: capitalize;
  color: black;
  font-weight: bold;
  margin: .5rem 0rem;
}

/* Pending Event */

.event-container {
  height: -moz-fit-content;
  height: fit-content;
  /* width: 80vw; */
  filter: drop-shadow(3px 4px 3px lightgrey);
  padding: 5%;
  background-color: #FFFAFA;
  margin: 1rem 0rem 2rem 0rem;
}

.event-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: inherit;
}

.event-flex .icon-container {
  /* width: -moz-fit-content; */
  width: 30%;
  margin: 1rem 0rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: -webkit-fill-available;
  background: white;
  padding: 2rem 2rem 0rem 2rem;
  flex: 0 1;
  width: 100%;
}

