.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  background-color: white;
}
 
.profilePage-flex {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.profileInfo-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0rem;
  margin: .5rem 0rem;
}

.profileHeader-flex {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}


.activity-container {
  flex: 1 1 auto;
  max-width: -webkit-fill-available;
  padding: 0rem 8vw;
  overflow: auto;
}

.activity-container #eventBtn-flex {
  margin:.5rem 0rem;
} 

.activity-container .event-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: inherit;
}

.info-container {
  text-align: left;
}
/* for date */
.info-container p.date {
  /* padding-left: 1rem; */
  font-size: 3.8vw;
  font-weight: bold;
  /* margin: 0rem 0rem .5rem 0rem; */
}

.icon-container p#name {
  color: #FF7A50;
  font-family: Raleway;
  font-size: 3.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

img.profileIcon {
  display: block;
  width: 5rem;
  height: auto;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 .2rem .2rem rgba(255, 137, 72, .5);
}

h3.username {
  font-size: 4.5vw;
  font-weight: bold;
  background: -webkit-linear-gradient(180deg, #FF7A97, #FF8948);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: .5rem;
}

h3#fullName {
  margin: 0rem .5rem;
  text-align: left;
  text-transform: capitalize;
  font-weight: 800;
}

.icon-container {
  width: fit-content;
  margin: 0rem 1rem 0rem 0rem;
}

.ratings-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: .5rem;
}

.ratings {
  font-weight: bold;
  text-align: left;
}

.connections-container,
.pearReviews-container {
  margin-right: 1.5rem;
}

.aboutMe-container {
  text-align: left;
  margin: .5rem;
}

/* two big buttons */

.profileBtn-container {
  margin-bottom: .5rem;
}

.profileBtn-flex {
  display: flex;
  justify-content: space-between;
}

/* .profileBtn-flex #gradient-btn {
  height: unset;
} */

#upcoming-container {
  overflow: scroll;
  /* min-height: -webkit-fill-available; */
  height: 87%;
}

